* {
  box-sizing: border-box;
}

image {
  position: center;
}
body {
  font-family: 'Raleway';
  background-color: #e6e6e6;
}

.card {
  width: 250px;
  margin: 75px auto 0;
  background-color: #fff;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.14);
  color: #444;
  text-align: center;
  font-size: 16px;
}

.card .card-header {
  position: relative;
  height: 48px;
}

.card .card-header .profile-img {
  width: 96px;
  height: 96px;
  border-radius: 1000px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card .card-body {
  padding: 10px 40px;
}

.card .card-body .full-name {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px 0 0;
}

.card .card-body .username {
  font-size: 15px;
  color: #777;
  font-weight: 600;
  margin: 5px 0 0;
}

.card .card-body .city {
  font-weight: 500;
  margin: 10px 0 0;
}

.card .card-body .desc {
  line-height: 24px;
}

.card .social-icon {
  font-size: 18px;
  margin: 0 7px;
}

.card .social-icon.facebook {
  color: #3b5999;
}

.card .social-icon.twitter {
  color: #55acee;
}

.card .social-icon.tumblr {
  color: #34465d;
}

.card .social-icon.youtube {
  color: #cd201f;
}

.card .social-icon.linkedin {
  color: #0077b5;
}

.card .social-icon.google-plus {
  color: #dd4b39;
}

.card .social-icon.message {
  color: #d39b94;
}

.card .card-footer {
  display: table;
  width: 100%;
  border-top: 1px solid #e6e6e6;
}

.card .card-footer .col {
  display: table-cell;
  padding: 5px 10px;
  font-size: 15px;
}

.card .card-footer .count {
  font-size: 18px;
  font-weight: 600;
}

.vr {
  border-right: 1px solid #e6e6e6;
}

/* 이미지 fit */
.torso {
  object-fit: fill;
  width: 300px;
  height: 300px;
}
